@font-face {
	font-family: 'Unintended';
	src: url('./Unintended.eot');
	src: local('Unintended'), url('./Unintended.woff') format('woff'), url('./Unintended.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_527">Text with this font applied</p> */
.fontsforweb_fontid_527 {
	font-family: 'Unintended' !important;
}

/* Font downloaded from FontsForWeb.com */